<% layout('./boilerplate') %>

<h1><%= map.title %></h1>
<a href="/edit/<%= map.id %>" class="btn btn-danger">Edit</a>

<p class="text-start mt-2"><%= map.description %></p>

<ul>
    <% map.root.forEach(function(obj) { %>
    <li>
        <h2><%= obj.title %></h2>
        <p><%= obj.description %></p>
        <% if (obj.children.length > 0) { %> <% recursiveFunction(obj.children);
        %> <% } %>
    </li>
    <% }); %>
</ul>

<% function recursiveFunction(children) { %>
<ul>
    <% children.forEach(function(child) { %>
    <li>
        <h3><%= child.title %></h3>
        <p><%= child.description %></p>
        <% if (child.children.length > 0) { %> <%
        recursiveFunction(child.children); %> <% } %>
    </li>
    <% }); %>
</ul>
<% } %>
